[bumpversion]
current_version = 0.3.8-dev0
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:part:build]

[bumpversion:file:./installer/one_click_windows/alphapept_innoinstaller.iss]

[bumpversion:file:settings.ini]

[bumpversion:file:./alphapept/__version__.py]

[bumpversion:file:./alphapept/__init__.py]
search = {current_version}
replace = {new_version}
