include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
include alphapept/contaminants.fasta
include alphapept/settings_template.yaml
include alphapept/img/busy_indicator.gif
include alphapept/img/logo_200px.png
include alphapept/img/logo.ico
recursive-include alphapept/ext *
recursive-exclude * __pycache__
