biopython==1.77
comtypes==1.1.7
h5py==2.10.0
lxml==4.5.0
matplotlib==3.2.2
matplotlib==3.2.2
networkx==2.4
numba==0.48.0
numpy==1.18.1
pandas==1.0.1
psutil==5.7.0
pymsfilereader==1.0.1
PyQt5==5.15.0
pyteomics==4.1.2
pyyaml==5.3.1
qdarkstyle==2.8.1
qroundprogressbar==1.0.0
scikit-learn==0.22.2
scipy==1.4.1
seaborn==0.10.0
tables==3.6.1
tqdm==4.43.0
