# config file for cmdline2 (tims data)
##########################################

enableDenoising=1
fillNonDeconvolutedValue=150.000000
fillStrategy=topN
noFeatureFinding=0
recalibMode=doRecalibration
recalibModeParameter=n/a
useCalibrationSegment=0
MGFOutput.convertToSingleCharge=0
MGFOutput.cutTooHighMasses=1
MGFOutput.deisotopedPeaklist=1
MGFOutput.enable=0
MGFOutput.enableMultiPeptideEntries=0
MGFOutput.mgfMode=timstof
MsmsCompassOutput.chunkSize=100
MsmsCompassOutput.fillNonDeconvolutedValue=150.000000
MsmsCompassOutput.fillStrategy=topN
MsmsSqliteOutput.enable=0
MsmsSqliteOutput.writeAllRawPeaks=0
TiffiWorkflow.calibrantIntensityThreshold=0.000000
TiffiWorkflow.enableLockMass=0
TiffiWorkflow.enableMobilityCalibration=0
TiffiWorkflow.lockMass=1221.990637
TiffiWorkflow.massToleranceUnit=Da
TiffiWorkflow.rawMassTolerance=0.050000
TiffiWorkflow.rawMassToleranceUnit=Da
#TiffiWorkflow.referenceMassLists=()
#TiffiWorkflow.referenceMobilityCCSList=()
#TiffiWorkflow.referenceMobilityChargeList=()
#TiffiWorkflow.referenceMobilityMassList=()
TiffiWorkflow.rtMaxInSeconds=10000000000000000000000
TiffiWorkflow.rtMinInSeconds=0.000000
TiffiWorkflow.Ms.featureWriterWriteRawPeaks=0
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.calibrationModels=(Enhanced Quadratic,Quadratic,Linear,Linear Minimal Peaks)
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.minimalFrequencyOfCalibrants=4
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.minimalNumberOfMatchingSpectra=5
#TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.refMZGroupID=()
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.retentionTimeInSecondsEnd=10000000000000000000000
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.retentionTimeInSecondsStart=0.000000
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.saturationIntensity=10000000000000000000000
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.segmentFreeCalibration=0
#TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.segmentFreeLowerRtBoundaries=()
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.segmentFreeMedianFilterMultiplicator=0.300000
TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.segmentFreePeakIntensityCutoff=0.200000
#TiffiWorkflow.Ms.Calibration.MassRecalibration.Calibration.segmentFreeUpperRtBoundaries=()
TiffiWorkflow.Ms.Calibration.MassRecalibration.LockMassCalibration.coverageThreshold=0.900000
TiffiWorkflow.Ms.Calibration.MassRecalibration.LockMassCalibration.gapDecayTime=10.000000
TiffiWorkflow.Ms.Calibration.MassRecalibration.LockMassCalibration.gapHoldTime=10.000000
TiffiWorkflow.Ms.Calibration.MassRecalibration.LockMassCalibration.pregapMaxAvgCnt=50
TiffiWorkflow.Ms.Calibration.MassRecalibration.LockMassCalibration.pregapMaxAvgRt=10.000000
TiffiWorkflow.Ms.Calibration.ReadTimsCalibrants.minNumConsecutiveFrames=3
TiffiWorkflow.Ms.Calibration.ReadTimsCalibrants.mobilityIntensityThreshold=0.000000
TiffiWorkflow.Ms.Calibration.ReadTimsCalibrants.relativeOneOverK0Tolerance=0.100000
TiffiWorkflow.Ms.Calibration.ReadTimsCalibrants.rtMaxInSeconds=100000000000.000000
TiffiWorkflow.Ms.Calibration.ReadTimsCalibrants.rtMaxMobilityCalibrantsInSeconds=100000000000.000000
TiffiWorkflow.Ms.Calibration.ReadTimsCalibrants.rtMinInSeconds=0.000000
TiffiWorkflow.Ms.Calibration.ReadTimsCalibrants.rtMinMobilityCalibrantsInSeconds=0.000000
#TiffiWorkflow.Ms.Calibration.WriteCalibration.referenceMobilityCCSList=()
TiffiWorkflow.Ms.ClusterDeisotoping.absoluteAbundanceThreshold=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.areaCalculationIntervalFactor=0.500000
TiffiWorkflow.Ms.ClusterDeisotoping.areaCalculationNormalization=0
TiffiWorkflow.Ms.ClusterDeisotoping.areaCalculationScale=1.000000
TiffiWorkflow.Ms.ClusterDeisotoping.areaIntensity=0
TiffiWorkflow.Ms.ClusterDeisotoping.assignConflicting=1
TiffiWorkflow.Ms.ClusterDeisotoping.assignmentFwhm=0
TiffiWorkflow.Ms.ClusterDeisotoping.assignment_minFraction=0.600000
TiffiWorkflow.Ms.ClusterDeisotoping.chargeMax=5
TiffiWorkflow.Ms.ClusterDeisotoping.chargeMin=1
TiffiWorkflow.Ms.ClusterDeisotoping.clusteringSplitFactor=1.300000
TiffiWorkflow.Ms.ClusterDeisotoping.compareScaleI=1.000000
TiffiWorkflow.Ms.ClusterDeisotoping.corOverErrThreshold=3.000000
TiffiWorkflow.Ms.ClusterDeisotoping.correlationCriterion=CorEssentialFraction
TiffiWorkflow.Ms.ClusterDeisotoping.debugTraceCharge=1
TiffiWorkflow.Ms.ClusterDeisotoping.debugTraceMob=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.debugTraceMz=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.debugTraceMzTol=0.010000
TiffiWorkflow.Ms.ClusterDeisotoping.debugTraceRequested=0
TiffiWorkflow.Ms.ClusterDeisotoping.debugTraceRt=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.debugTraceRtTol=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.deltaPlotting=0
TiffiWorkflow.Ms.ClusterDeisotoping.detectionThreshold=0.000000
#TiffiWorkflow.Ms.ClusterDeisotoping.elementsLower=
#TiffiWorkflow.Ms.ClusterDeisotoping.elementsUpper=
TiffiWorkflow.Ms.ClusterDeisotoping.enforcePrecursor=1
TiffiWorkflow.Ms.ClusterDeisotoping.experimentalSwitch=0
TiffiWorkflow.Ms.ClusterDeisotoping.featureIntervalFwhmScale=2.000000
TiffiWorkflow.Ms.ClusterDeisotoping.featureIntervalMethod=BoundingBox
TiffiWorkflow.Ms.ClusterDeisotoping.fineStructureMassTolerance=0.015000
TiffiWorkflow.Ms.ClusterDeisotoping.hashMask=-1
TiffiWorkflow.Ms.ClusterDeisotoping.includeAllZeros=0
TiffiWorkflow.Ms.ClusterDeisotoping.isolationCenterInFwhm=0
TiffiWorkflow.Ms.ClusterDeisotoping.isolationMzInFeatureInterval=0
TiffiWorkflow.Ms.ClusterDeisotoping.isotopePatternCoverage=0.950000
TiffiWorkflow.Ms.ClusterDeisotoping.isotopePatternsFile=isotopePatterns3.txt
TiffiWorkflow.Ms.ClusterDeisotoping.isotopeThreshold=-1.000000
TiffiWorkflow.Ms.ClusterDeisotoping.isotopeThreshold2=0.200000
TiffiWorkflow.Ms.ClusterDeisotoping.massTolerance=0.007000
TiffiWorkflow.Ms.ClusterDeisotoping.maxClusterOverlap=0.500000
TiffiWorkflow.Ms.ClusterDeisotoping.maxIsotopePatternError=0.200000
TiffiWorkflow.Ms.ClusterDeisotoping.maxIsotopes=10
TiffiWorkflow.Ms.ClusterDeisotoping.maxNumCor=2
TiffiWorkflow.Ms.ClusterDeisotoping.maxNumEssential=5
TiffiWorkflow.Ms.ClusterDeisotoping.minClusterSize=2
TiffiWorkflow.Ms.ClusterDeisotoping.minCorrelatedFraction=0.750000
TiffiWorkflow.Ms.ClusterDeisotoping.minCorrelation=0.750000
TiffiWorkflow.Ms.ClusterDeisotoping.minExistFraction=0.750000
TiffiWorkflow.Ms.ClusterDeisotoping.minNumClusters=3
TiffiWorkflow.Ms.ClusterDeisotoping.minNumClusters_enforce=2
TiffiWorkflow.Ms.ClusterDeisotoping.minNumErrorIsotopes=1
TiffiWorkflow.Ms.ClusterDeisotoping.minNumRawPeaks=0
TiffiWorkflow.Ms.ClusterDeisotoping.minPointsInCommon=3
TiffiWorkflow.Ms.ClusterDeisotoping.minSeedClusterLength=2
TiffiWorkflow.Ms.ClusterDeisotoping.mobilityTolerance_=0.050000
TiffiWorkflow.Ms.ClusterDeisotoping.monoisotopicRequired=0
TiffiWorkflow.Ms.ClusterDeisotoping.multiAssignment=1
TiffiWorkflow.Ms.ClusterDeisotoping.mzRangesEnd=2000.000000
TiffiWorkflow.Ms.ClusterDeisotoping.mzRangesIntervalsStep=10.000000
TiffiWorkflow.Ms.ClusterDeisotoping.mzRangesStart=50.000000
TiffiWorkflow.Ms.ClusterDeisotoping.mzRangesTreeStep=20.000000
TiffiWorkflow.Ms.ClusterDeisotoping.mzRangesWindowSize=50.000000
TiffiWorkflow.Ms.ClusterDeisotoping.newDeisotoping=0
TiffiWorkflow.Ms.ClusterDeisotoping.parallelClusterProcessing=1
TiffiWorkflow.Ms.ClusterDeisotoping.patternMzStep=50.000000
TiffiWorkflow.Ms.ClusterDeisotoping.plotAssignedClusters=0
TiffiWorkflow.Ms.ClusterDeisotoping.plotClusters=0
TiffiWorkflow.Ms.ClusterDeisotoping.plotRegionMobLower=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.plotRegionMobUpper=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.plotRegionMzLower=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.plotRegionMzUpper=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.plotRegionRtLower=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.plotRegionRtUpper=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.precursorAssignmentThreshold=0.600000
TiffiWorkflow.Ms.ClusterDeisotoping.rasterDbgTraceMob=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.rasterDbgTraceMz=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.rasterDbgTraceRequested=0
TiffiWorkflow.Ms.ClusterDeisotoping.rasterDbgTraceRt=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.reportFineStructure=0
TiffiWorkflow.Ms.ClusterDeisotoping.saturationFraction=0.800000
TiffiWorkflow.Ms.ClusterDeisotoping.scaleToCorThresh=5.000000
TiffiWorkflow.Ms.ClusterDeisotoping.scaleToDetectThresh=2.000000
TiffiWorkflow.Ms.ClusterDeisotoping.showPlots=0
TiffiWorkflow.Ms.ClusterDeisotoping.smallMoleculesAllowedGaps=1
TiffiWorkflow.Ms.ClusterDeisotoping.smoothTraceSigma=1.000000
TiffiWorkflow.Ms.ClusterDeisotoping.smoothTraceSigmaMz=1.000000
TiffiWorkflow.Ms.ClusterDeisotoping.splitDeltaFactor=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.storeMonoisotopicPeaks=1
TiffiWorkflow.Ms.ClusterDeisotoping.substanceClass=peptides
TiffiWorkflow.Ms.ClusterDeisotoping.timsCutoffFraction=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.timsDeghosting=1
TiffiWorkflow.Ms.ClusterDeisotoping.timsDeghostingMultiplier=1.000000
TiffiWorkflow.Ms.ClusterDeisotoping.timsFilterSzMob=3
TiffiWorkflow.Ms.ClusterDeisotoping.timsFilterSzMz=2
TiffiWorkflow.Ms.ClusterDeisotoping.timsFilterSzRt=3
TiffiWorkflow.Ms.ClusterDeisotoping.timsKSizeMz=3
TiffiWorkflow.Ms.ClusterDeisotoping.timsMinClusterSizeMob=15
TiffiWorkflow.Ms.ClusterDeisotoping.timsMinClusterSizeRt=15
TiffiWorkflow.Ms.ClusterDeisotoping.timsRasterClusters=1
TiffiWorkflow.Ms.ClusterDeisotoping.timsSplitDeltaFactor=0.000000
TiffiWorkflow.Ms.ClusterDeisotoping.timsSplitFactor=1.300000
TiffiWorkflow.Ms.ClusterDeisotoping.timsSplitSigmaMob_=1.000000
TiffiWorkflow.Ms.ClusterDeisotoping.timsSplitSigmaRt_=1.000000
TiffiWorkflow.Ms.ClusterDeisotoping.timsSplittingEnabled=1
TiffiWorkflow.Ms.ClusterDeisotoping.timsStringCentroid=1
TiffiWorkflow.Ms.ClusterDeisotoping.timsVoxelSzMob=2
TiffiWorkflow.Ms.ClusterDeisotoping.timsVoxelSzMz=2
TiffiWorkflow.Ms.ClusterDeisotoping.timsVoxelSzRt=2
TiffiWorkflow.Ms.ClusterDeisotoping.useIsotopePatternCoverage=1
TiffiWorkflow.Ms.Clustering.C3DaggregateScale1=1.700000
TiffiWorkflow.Ms.Clustering.C3DaggregateScale2=20.000000
TiffiWorkflow.Ms.Clustering.C3DconflictScaleSd=1.000000
TiffiWorkflow.Ms.Clustering.C3DconvergeDelta=0.030000
TiffiWorkflow.Ms.Clustering.C3DinitConflictScaleSd=2.000000
TiffiWorkflow.Ms.Clustering.C3DinitMobSd=0.014000
TiffiWorkflow.Ms.Clustering.C3DinitMzSd=0.010000
TiffiWorkflow.Ms.Clustering.C3DinitRtSd=4.000000
TiffiWorkflow.Ms.Clustering.C3DiterationsMultiplier=1.000000
TiffiWorkflow.Ms.Clustering.C3DmaxDeltaFactor=3.500000
TiffiWorkflow.Ms.Clustering.C3DmaxMzSd=1000000.000000
TiffiWorkflow.Ms.Clustering.C3DminMobSd=0.010000
TiffiWorkflow.Ms.Clustering.C3DminMzSd=0.007000
TiffiWorkflow.Ms.Clustering.C3DminQuality=1.100000
TiffiWorkflow.Ms.Clustering.C3DminRtSd=2.000000
TiffiWorkflow.Ms.Clustering.C3DminSumg=10.000000
TiffiWorkflow.Ms.Clustering.C3DnumGenerations=5
TiffiWorkflow.Ms.Clustering.C3Dparallel=1
#TiffiWorkflow.Ms.Clustering.C3DparamFile=
TiffiWorkflow.Ms.Clustering.C3DqualityScale1=2.000000
TiffiWorkflow.Ms.Clustering.C3DqualityScale2=10.000000
TiffiWorkflow.Ms.Clustering.C3DqualityScaleMax=3.000000
TiffiWorkflow.Ms.Clustering.C3DsamplingFactor=12
TiffiWorkflow.Ms.Clustering.C3DscaleSd=2.500000
TiffiWorkflow.Ms.Clustering.C3DscaleSdWide=3.000000
TiffiWorkflow.Ms.Clustering.C3DsumgyPow=1.500000
TiffiWorkflow.Ms.Clustering.C3DuseRtForQuality=1
TiffiWorkflow.Ms.Clustering.calculateSplitDelta=0
TiffiWorkflow.Ms.Clustering.checkSplitting=1
TiffiWorkflow.Ms.Clustering.clustering3d=1
TiffiWorkflow.Ms.Clustering.clusteringHeuristic=10
TiffiWorkflow.Ms.Clustering.dbscanEps=0.000000
TiffiWorkflow.Ms.Clustering.dbscanMinSize=3
TiffiWorkflow.Ms.Clustering.dbscanSegmentation=0
TiffiWorkflow.Ms.Clustering.doMzCleanup=1
TiffiWorkflow.Ms.Clustering.doSplitting=0
TiffiWorkflow.Ms.Clustering.minClusterLength=5
TiffiWorkflow.Ms.Clustering.minClusterSize=50
TiffiWorkflow.Ms.Clustering.minClusterSizeSplitting=20
TiffiWorkflow.Ms.Clustering.minMaxSplitDelta=3.000000
TiffiWorkflow.Ms.Clustering.minMaxSplitDeltaFactor=2.000000
TiffiWorkflow.Ms.Clustering.minMaxSplitFactor=1.300000
TiffiWorkflow.Ms.Clustering.mobDbscanEps=3.000000
TiffiWorkflow.Ms.Clustering.mobilityDistance=0.050000
TiffiWorkflow.Ms.Clustering.mzDbscanEps=0.006000
TiffiWorkflow.Ms.Clustering.mzDistance=0.030000
TiffiWorkflow.Ms.Clustering.mzTolerance=0.400000
TiffiWorkflow.Ms.Clustering.rtDbscanEps=2.000000
TiffiWorkflow.Ms.Clustering.rtDistanceInFrames=5.000000
TiffiWorkflow.Ms.Clustering.useIntensities=0
TiffiWorkflow.Ms.Clustering.writeClusters=0
TiffiWorkflow.Ms.IsotopeClustersOutput.enable=1
TiffiWorkflow.Ms.ReadTimsData.customDenoisingFrameNrTolerance=2
TiffiWorkflow.Ms.ReadTimsData.customDenoisingMinimalFrequency=20
TiffiWorkflow.Ms.ReadTimsData.customDenoisingScanNrTolerance=20
TiffiWorkflow.Ms.ReadTimsData.customDenoisingXTolerance=3
TiffiWorkflow.Ms.ReadTimsData.denoisingMode=niceClustering
TiffiWorkflow.Ms.ReadTimsData.mzLower=0.000000
TiffiWorkflow.Ms.ReadTimsData.mzUpper=10000000000000000000000
TiffiWorkflow.Msms.MSMSDeisotoping.absoluteIntensityFilter=20.000000
TiffiWorkflow.Msms.MSMSDeisotoping.autoWindow=1
TiffiWorkflow.Msms.MSMSDeisotoping.chargeMax=4
TiffiWorkflow.Msms.MSMSDeisotoping.chargeMin=1
TiffiWorkflow.Msms.MSMSDeisotoping.envelopeCutoff=0.750000
#TiffiWorkflow.Msms.MSMSDeisotoping.exclusionMassesEnd=()
#TiffiWorkflow.Msms.MSMSDeisotoping.exclusionMassesStart=()
TiffiWorkflow.Msms.MSMSDeisotoping.instrumentType=oTOF
TiffiWorkflow.Msms.MSMSDeisotoping.massAgreement=0.000000
TiffiWorkflow.Msms.MSMSDeisotoping.massLowerBound=0.000000
TiffiWorkflow.Msms.MSMSDeisotoping.massUpperBound=10000000000000000000000
TiffiWorkflow.Msms.MSMSDeisotoping.maxComponents=2147483647
TiffiWorkflow.Msms.MSMSDeisotoping.maxInputPeaks=10000
TiffiWorkflow.Msms.MSMSDeisotoping.proteomics=1
TiffiWorkflow.Msms.MSMSDeisotoping.relativeAbundanceThreshold=0.001000
TiffiWorkflow.Msms.MSMSDeisotoping.reporterIons=None
TiffiWorkflow.Msms.MsmsSource.sumPeakFinderResolution=15000.000000
TiffiWorkflow.Msms.MsmsSource.useAreaAsIntensity=1
