
#input=
### tims input
# denoising: off, original, external, niceClustering, sensitive
timsDenoisingMode=niceClustering

### MGF output
MgfOutput.enable
Mgf.mgfMode=timstof
#Mgf.enableMultiPeptideEntries
# How to fill msms peaklists with non-deisotoped peaks (topN or threshold)
Mgf.fillStrategy=topN
# Parameter for fill strategy (N or relative threshold,
# abs threshold if useOriginalMsmsPeaklist is enabled
Mgf.fillNonDeconvolutedValue=150
#Mgf.useOriginalMsmsPeaklist
Mgf.doNotConvertSingleCharges
Mgf.cutTooHighMasses

### .features file output
FeatureWriter.enable
#FeatureWriter.writeRawPeaks
#FeatureWriter.enableMsms
#FeatureWriter.writeAllMsmsPeaks

### workflow paramters (map to multiple algorithms)
Workflow.substanceClass=peptides
#Workflow.clusterAreaRtMin=3600
#Workflow.clusterAreaRtMax=3700
#Workflow.clusterAreaMzMin=0
#Workflow.clusterAreaMzMax=1.79769e+308
Workflow.massToleranceUnit=Da

### recalibration
# doRecalibration: recalibration within workflow (if reference masses are provided)
# off: use instrument calibration, uuid: calibration state by uuid,
# last: use last calibration state (from the source given in calibrationModeParameter)
# first: like last but first :)
Workflow.calibrationMode=doRecalibration
#Workflow.calibrationModeParameter=<UUID>
Workflow.rawMassTolerance=0.05
Workflow.rawMassToleranceUnit=Da
Workflow.calibrantIntensityThreshold=0
# use ; to separate reference mass lists within the parentheses
#Workflow.referenceMassLists=(118.086255,322.048121,622.028960,922.009798,1221.990637,1521.971475,1821.952313,2121.933152,2421.913990,2721.894829)
#Workflow.enableLockMass
Workflow.lockMass=1221.990637
#Workflow.enableMobilityRecalibration
#Workflow.mobilityReferenceMassList=(118.086255,322.048121,622.028960,922.009798)
#Workflow.mobilityReferenceCCSList=(120.8,152.8.201.6,241.8)
#Workflow.mobilityReferenceChargeList=(1,1,1,1)

### clustering
Clustering.minClusterLength=5
Clustering.splitFactor=1.3
LcmsClustering.massTolerance=0.009
### Tims clustering
#TimsClustering.allPeaksFilename
TimsClustering.clusteringHeuristic=10
TimsClustering.minClusterSize=50
TimsClustering.calculateSplitDelta
TimsClustering.minMaxSplitDelta=3.0
#TimsClustering.minMaxSplitDeltaFactor=2
TimsClustering.mobilityDistance=0.01
TimsClustering.mzDistance=0.007
TimsClustering.mzTolerance=0.4
TimsClustering.rtDistanceInFrames=3

### MS1 cluster-deisotoping (lcms + tims)
MsDeisotoping.absoluteAbundanceThreshold=0
MsDeisotoping.minNumRawPeaks=0
MsDeisotoping.upperCharge=5
MsDeisotoping.massTolerance=0.007
MsDeisotoping.maxClusterOverlap=0.5
MsDeisotoping.maxIsotopePatternError=0.2
MsDeisotoping.minCorrelatedFraction=0.75
MsDeisotoping.minCorrelation=0.75
MsDeisotoping.minExistFraction=0.75
MsDeisotoping.minNumClusters=3
MsDeisotoping.minPointsInCommon=3
MsDeisotoping.mobilityTolerance_=0.05
MsDeisotoping.smoothTraceSigma=1.0
MsDeisotoping.smoothTraceSigmaMz=1.0
#MsDeisotoping.splitDeltaFactor=3.0
MsDeisotoping.timsMinClusterSizeRt=15
MsDeisotoping.timsMinClusterSizeMob=15
MsDeisotoping.timsRasterClusters
MsDeisotoping.timsCutoffFraction=0.0
#MsDeisotoping.timsSplittingDisabled
MsDeisotoping.timsSplitFactor=1.3
MsDeisotoping.timsSplitDeltaFactor=0.0
MsDeisotoping.timsSplitSigmaMob_=1.0
MsDeisotoping.timsSplitSigmaRt_=1.0
MsDeisotoping.featureIntervalMethod=BoundingBox

# precursor assignments
MsDeisotoping.assignment_minFraction=0.6
MsDeisotoping.precursorAssignmentThreshold=0.6
MsDeisotoping.minNumClusters_enforce=2
#MsDeisotoping.noEnforcePrecursor
#MsDeisotoping.doNotAssignConflicting

# debug MsDeisotoping
#MsDeisotoping.debugTraceCharge=1
#MsDeisotoping.debugTraceMz=0
#MsDeisotoping.debugTraceMzTol=0.01
#MsDeisotoping.debugTraceRt=0
#MsDeisotoping.plotRegionMzLower=0
#MsDeisotoping.plotRegionMzUpper=0
#MsDeisotoping.plotRegionRtLower=0
#MsDeisotoping.plotRegionRtUpper=0

#MsDeisotoping.areaIntensity
MsDeisotoping.areaCalculationIntervalFactor=0.5
MsDeisotoping.areaCalculationScale=1.0
#MsDeisotoping.areaCalculationNormalization

### msms pasef data reader
Pasef.sumPeakFinderResolution=15000

### msms deisotoping (1d cluster-deisotoping)
#MsmsDeisotoping.maxIsotopePatternError=0.2
MsmsDeisotoping.relativeAbundanceThreshold=0.001
MsmsDeisotoping.absAbundanceThreshold=20
MsmsDeisotoping.reporterIons=None
MsmsDeisotoping.upperCharge=4
