biopython==1.79
click>=7.1.2
fastcore==1.5.26
h5py==3.7.0
matplotlib==3.6.1
networkx==2.8.6
numba==0.56.4
numpy==1.20.3
pandas==2.0.1
psutil==5.9.1
pyteomics==4.5.5
pyyaml==6.0
scikit-learn==1.1.2
scipy==1.8.1
SQLAlchemy==1.4.39
tables==3.6.1
tqdm==4.64.0
alphatims==1.0.7
alpharaw==0.1.0
